@model Product
@{
    ViewBag.Title = "Products";
    Layout = "_AdminLayout";
}

<div class="container">
    <h3>Product creation</h3>
    <form asp-action="CreateProduct" method="post" class="form-horizontal">
        @await Html.PartialAsync("ProductForm", Model)        
        <button class="btn btn-primary mt-2" type="submit" value="Create">Create</button>
        <a asp-action="Index" class="btn btn-danger mt-2">Cancel</a>
    </form>
    
</div>

