<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" runat="server" type="image/x-icon" />
    <link href="~/favicon.ico" rel="icon" runat="server" type="image/ico" />

    <link rel="stylesheet" type="text/css" href="~/lib/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.min.css" />

    <!--Validation style-->
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
</head>
<body class="m-1 p-1">    
    
    <div class="bg-success p-2"> 
        <h4>@ViewBag.Title</h4>
    </div>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    
    @RenderBody()    
    
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/lib/slick/slick.min.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>

