<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.min.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
