@model Product

<div class="form-group">
    <div class="col-md-2">
        <h6 style="font-weight:normal;">Category</h6>
        <select asp-for="Category.Name" class="form-select" aria-label="Default select example">
            <option value="Man Store">Man's</option>
            <option value="Woman Store">Woman's'</option>
            <option value="Shoes">Shoes</option>
            <option value="Accesories">Accesories</option>
            <option value="Sale">Sale</option>
            <option value="Vintage">Vintage</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label asp-for="Name"></label>
    <div class="col-md-2">
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Price"></label>
    <div class="col-md-1">
        <input asp-for="Price" class="form-control" rows="2" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
</div>
<div class="form-group mt-2 mb-2">
    <label asp-for="ImageUrl"></label>
    <div class="col-md-1">
        <input type="file" asp-for="ImageUrl" class="" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Description"></label>
    <div class="col-md-3">
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Available"></label>
    <div class="col-md-1">
        <input asp-for="Available" class="form-control" />
        <span asp-validation-for="Available" class="text-danger"></span>
    </div>
</div>
<div class="form-group mt-2 mb-3">
    <input type="checkbox" class="form-check-input" asp-for="IsFavorite">
    <label class="form-check-label" asp-for="IsFavorite">Add to favorites</label>
    <span asp-validation-for="IsFavorite" class="text-danger"></span>
</div>