<div class="container mt-3"> 
    <img style="width: 35%;" src="/img/complete.jpg"/>    
    <p><a class="btn btn-secondary mt-2 ms-5" asp-controller="Home" asp-action="Index">Back to shopping list</a></p>
</div>
