@model List<Order>
@{
    ViewBag.Title = "Orders";
    Layout = "_AdminLayout";
}

@if (Model.Count() > 0) {
    <table class="table table-bordered table-striped">
        <tr><th>Customer Name</th><th>Product</th><th colspan="2">Details</th><th></th></tr>
        @foreach (Order order in Model) {
            
    
        }
    </table>
}

    


