@{
    Layout = "_EmptyLayout";
    ViewBag.Title = "Contact Us";
}

<div class="contact-logo">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <img src="~/img/Aditii.png" alt="Logo" />
            </div>
        </div>
    </div>
</div>
<div class="contacts">
    <div class="container">
        <div class="row main-contacts">
            <div class="col-md-6">
                <h5 class="contact-info">
                    MORBI CONVALLIS METUS EROS, SEMPER<br />
                    EFFICITUR AUCTOR. ETIAM SIT AMET<br />
                    CONVALLIS ERAT. CLASS APTENT TACITI<br />
                    SOCIOSQU AD LITORA TORQUENT PER<br />
                    CONUBIA! MAECENAS GRAVIDA LACUS NEC<br />
                    DOLOR SUSCIPIT FAUCIBUS.
                </h5>
            </div>
            <div class="col-md-6">
                <h1 class="contact-title">CONTACT US</h1>
                <a href="https://vk.com/love_i_last"><img class="contact-icon" src="/img/icons/vk.png" /></a>
                <a href="https://t.me/QUANTUMTRIP"><img class="contact-icon" src="/img/icons/telegram.png" /></a>
                <a href="https://www.instagram.com/"><img class="contact-icon" src="/img/icons/instagram.png" /></a>
                <div class="contact-numbers">
                    <h1 class="contact-number">1  &nbsp; (234) &nbsp; 567-891</h1>
                    <h1 class="contact-number">1  &nbsp; (234) &nbsp; 987-654</h1>
                </div>
            </div>
        </div>        
    </div>
</div>
<footer>
    <p class="copyright">Copyright © 2022 DarBerg</p>
</footer>