<form class="search-bar" asp-controller="Search" asp-action="SearchList" method="get">
    <input class="search-place" type="text" name="name" />
    <button class="search-btn" type="submit"></button>
</form>
